# AI Core
torch==2.3.0
transformers==4.40.2
tokenizers==0.19.1
numpy==1.26.4
fastapi==0.111.0
pydantic==2.7.0
uvicorn[standard]==0.30.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9

# RAG
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.43
langchain-openai==0.1.8

# Embeddings
sentence-transformers==2.7.0
faiss-cpu==1.8.0

# Utils
tqdm==4.66.2
pandas==2.2.1
